// import google fonts
// manrope - sans serif header font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
// archivo - sans serif body font
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

// import variables & mixins
@import "./variables";

// global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// global body styling
body {
    background-color: aliceblue;
    font-family: "Archivo", sans-serif;

    button {
        border: none;
    }

    // form submit button
    .form-submit-btn {
        @include green-submit-btn-styling($green-accent-color, $main-white-color, $subheader-font-size, $header-font-family, $header-font-weight, $submit-btn-padding, $button-border-radius);
    }

    // small black button
    .small-black-btn {
        margin: 0 5px;
        @include small-black-btn-styling($main-blue-black-color, $main-white-color, $subheader-font-size, $header-font-family, $body-font-weight, 8px 22px, $button-border-radius);
    }

    // green header
    .green-header {
        color: $green-accent-color
    }

    // black label
    .black-label {
        font-size: $subheader-font-size;
        font-family: "Manrope", sans-serif;
        font-weight: $header-font-weight;
    }

    // blue select/input field
    .input-field-blue-styling {
        @include form-field-styling($grey-accent-color, $subheader-font-size, $body-font-family, $body-font-weight, $blue-accent-color, $element-border-radius, $form-field-padding, $form-text-indent);
    }

    select,
    input {
        width: 100%;
        border: none;
    }

    .black-body-text {
        color: $main-blue-black-color;
        font-size: $body-font-size;
        font-family: $body-font-family;
        font-weight: $body-font-weight;
    }
}

// swiper
.swiper {
    max-width: 100%;
    max-height: 280px;
}

// map
#map {
    width: 100%;
    height: 220px;
    border-radius: $element-border-radius;
}

// navbar
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: $main-blue-black-color;
    z-index: 20;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    // navbar container
    .navbar-container {
        width: 98%;
        height: 100%;
        display: $display-flex;
        flex-direction: $flex-dir-row;
        align-items: $align-items-center;
        justify-content: space-evenly;

        // navbar links styling
        .navbar-links {
            color: $main-white-color;
            text-decoration: none;
            font-size: 1.375em;
            font-family: "Manrope", sans-serif;
        }

        #navbar-logo {
            font-size: 2.125em;
            font-weight: 800;
        }

        // navbar links container
        .navbar-links-container {
            width: 55%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        // navbar icons container
        .navbar-icons-container {
            width: 8%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .navbar-icons {
                color: #FFFCFF;
                font-size: 2.188em;
            }
        }
    }
}

// accommodation card modal
#accommodationModal {
    z-index: 20;
    position: fixed;
    top: 10%;
    left: 33%;
    width: 35vw;
    height: 87vh;
    background-color: rgba(255, 252, 255, 0.952);
    border: 1px solid rgba(255, 252, 255);
    border-radius: $element-border-radius;

    // accomm modal swiper
    .swiper {
        max-width: 100%;
        max-height: 280px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .swiper-slide {
            @include space-around-centre-row-flex($display-flex, $flex-dir-column, center, center);
        }

        // swiper slide image
        .swiper-slide img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }

        // swiper pagination container
        .swiper-pagination {
            background-color: rgba(231, 236, 237, 0.7);
            margin: 0 44.5%;
            max-width: 55px;
            padding: 5px 8px;
            border-radius: 20px;

            @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

            .swiper-pagination-bullet {
                background-color: $green-accent-color;
            }
        }
    }

    // accomm modal details
    .accommodation-details {
        padding: $element-padding;

        // acccommodation details top & bottom row
        .accomm-details-top-container,
        .accomm-details-bottom-container {
            display: $display-flex;
            flex-direction: $flex-dir-row;
        }

        .accomm-details-top-container {
            display: $display-flex;
            justify-content: space-between;

            .accomm-details-header-container h3 {
                font-size: $header-font-size;
            }

            .accomm-details-header-container h4 {
                font-size: $subheader-font-size;
            }

            .accomm-details-ratings {
                display: $display-flex;
                justify-content: center;
                align-items: flex-start;
                color: $gold-accent-color;

                .accomm-ratings {
                    font-size: 28px;
                    margin-right: 5px;
                }

                .fa-award {
                    font-size: $header-font-size;
                }
            }
        }

        .accomm-details-bottom-container {
            margin-top: 12px;
            justify-content: space-between;
        }

        // accommodation info - description & map
        .accommodation-info {
            margin: 35px 0;

            .black-body-text {
                margin-bottom: 30px;
                font-weight: 500;
            }

            // accomm. ammenities
            .accomm-ammenities {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 5%;
                margin-bottom: 35px;

                .blue-header {
                    font-size: $subheader-font-size;
                    color: $blue-accent-color;
                }

                .blue-icon {
                    font-size: 30px;
                    color: $blue-accent-color;
                }
            }
        }

        // accommodation booking button
        .book-accomm-btn-container {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .book-accomm-submit-btn {
                padding: 12px 28px;
                background-color: $green-accent-color;
                color: $main-white-color;
                border: none;
                font-family: $header-font-family;
                font-weight: $header-font-weight;
                font-size: $subheader-font-size;
                border-radius: $button-border-radius;

            }
        }
    }

    // close modal button
    #closeModal {
        position: fixed;
        z-index: 40;
        margin-top: 5px;
        margin-left: 31.5vw;
        font-size: 2em;
        color: $main-blue-black-color;
        background-color: #91179100;
    }

}

// fullpage styling 
.section {
    display: $display-flex;
    flex-direction: $flex-dir-column;
    align-items: $align-items-center;
    justify-content: center;


    // global slide styling
    .slide {
        display: $display-flex;
        flex-direction: $flex-dir-column;
        justify-content: center;
        min-width: 100vw;
        max-height: calc(100vh - 90px);
        padding: 0 80px;

        position: relative;
        top: 90px;
    }

    // // slide 1 - home page
    #slide-1 {
        background-image: url("../imgs/wanaka-bg-1.webp");
        background-position: center;
        background-size: cover;

        // welcome panel
        .welcome-panel {
            z-index: 20;
            max-width: 35%;
            padding: $element-padding;

            @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

            // welcome text container
            .welcome-text-container {
                height: 70%;
                margin-top: 20px;
                margin-bottom: 20px;

                @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, $justify-content-space-around);

                // welcome header
                #welcome-header {
                    font-size: 5.938em;
                    text-align: center;
                }

                // welcome body text
                #welcome-body-text {
                    width: 90%;
                    text-align: center;
                    font-size: $subheader-font-size;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    // slide 2 - find accommodations page
    #slide-2 {
        background-image: url("../imgs/wanaka-bg-2.webp");
        background-position: center;
        background-size: cover;

        // accommodation form container
        .accommodation-form {
            max-width: 38%;
            min-height: 60vh;
            padding: $element-padding;

            @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

            @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, space-between);

            // form header
            #form-header {
                font-size: 2.625em;
            }

            // form fields container
            .form-fields-container {
                width: 90%;
                display: $display-flex;
                flex-direction: $flex-dir-row;
                align-items: flex-start;
                justify-content: space-between;

                // form field & label container
                .form-small-field-container {
                    width: 47%;
                    display: $display-flex;
                    flex-direction: $flex-dir-column;
                    justify-content: space-between;
                }
            }
        }
    }

    // slide 3 - accommodations results page
    #slide-3 {
        background-image: url("../imgs/wanaka-bg-2.webp");
        background-position: center;
        background-size: cover;

        // accommodation main header & filter/sort container
        .accommodation-top-container {
            max-width: 100%;
            height: auto;
            margin: 40px 0;

            #accommodation-header {
                font-size: 5.375em;
                font-family: $header-font-family;
                font-weight: $header-font-weight;
                text-align: center;
                margin-bottom: 20px;
            }

            .accommodation-filter-sort-container {
                max-width: 100%;
                height: auto;
                padding: $element-padding;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);


                .accommodation-filter-container,
                .accommodation-sort-btns-container {
                    min-width: 50%;
                    @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, space-between);

                    .accommodation-filter-field-container {
                        width: 30%;
                    }
                }
            }
        }

        // accommodations results grid
        .accommodation-results {
            height: auto;
            max-width: 100%;
            padding: 30px 0;
            // background-color: cornflowerblue;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 30px;

            // accommodations results card
            .accommodation-card {
                display: flex;
                flex-direction: column;
                min-height: auto;

                @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

                // swiper gallery
                .swiper {
                    max-width: 448px;
                    max-height: 16.875em;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                    .swiper-slide {
                        @include space-around-centre-row-flex($display-flex, $flex-dir-column, center, center);
                    }

                    // swiper slide image
                    .swiper-slide img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        object-position: center;
                    }

                    // swiper pagination container
                    .swiper-pagination {
                        background-color: rgba(231, 236, 237, 0.7);
                        margin: 0 197px;
                        max-width: 55px;
                        padding: 5px 8px;
                        border-radius: 20px;

                        @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

                        .swiper-pagination-bullet {
                            background-color: $green-accent-color;
                        }
                    }
                }

                // accommodations details container
                .accommodation-details {
                    padding: $element-padding;

                    // acccommodation details top & bottom row
                    .accomm-details-top-container,
                    .accomm-details-bottom-container {
                        display: $display-flex;
                        flex-direction: $flex-dir-row;
                    }

                    .accomm-details-top-container {
                        display: $display-flex;
                        justify-content: space-between;

                        .accomm-details-header-container h3 {
                            font-size: $header-font-size;
                        }

                        .accomm-details-header-container h4 {
                            font-size: $subheader-font-size;
                        }

                        .accomm-details-ratings {
                            display: $display-flex;
                            justify-content: center;
                            align-items: flex-start;
                            color: $gold-accent-color;

                            .accomm-ratings {
                                font-size: 28px;
                                margin-right: 5px;
                            }

                            .fa-award {
                                font-size: $header-font-size;
                            }
                        }
                    }

                    .accomm-details-bottom-container {
                        margin-top: 35px;
                        justify-content: space-between;
                    }
                }



            }
        }

    }

    // slide 4 - meal options page
    #slide-4 {
        background-image: url("../imgs/wanaka-bg-2.webp");
        background-position: center;
        background-size: cover;

        // meals top container
        .meals-top-container {
            margin: 40px 0;
            padding: $element-padding;

            @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

            @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, $justify-content-space-around);

            #meals-header {
                font-size: 5.375em;
                text-align: center;
                margin-bottom: 20px;
            }

            .meals-page-description {
                font-size: $subheader-font-size;
                text-align: center;
                width: 70%;
            }

        }

        // meals grid container
        .meals-options-container {
            height: auto;
            min-width: 100%;
            padding: 30px 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 30px;

            // meals options card
            .meals-options-card {
                display: flex;
                flex-direction: column;
                min-height: auto;

                @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

                .meals-options-content-container {
                    max-width: 448px;
                    height: auto;
                    object-position: center;
                    object-fit: cover;

                    // meals div imgs
                    .meals-option-img {
                        width: 448px;
                        height: 280px;
                        border-top-left-radius: $element-border-radius;
                        border-top-right-radius: $element-border-radius;

                        background-position: center;
                        background-size: cover;
                    }

                    #breakfast-img {
                        background-image: url("https://images.unsplash.com/photo-1529411081224-84ac0d0bf6ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                    }

                    #lunch-img {
                        background-image: url("https://images.unsplash.com/photo-1536329639134-ade172b2fea0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                    }

                    #dinner-img {
                        background-image: url("https://images.unsplash.com/photo-1565895405227-31cffbe0cf86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                    }

                    #all-meals-img {
                        background-image: url("https://images.unsplash.com/photo-1651440204296-a79fa9988007?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                    }

                    #no-meals-img {
                        background-image: url("https://images.unsplash.com/photo-1544148103-0773bf10d330?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
                    }

                    .meals-options-details-container {
                        padding: $element-padding;

                        @include space-around-centre-column-flex($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

                        // meals options headers & radio select
                        .meals-options-top-container {
                            min-width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .meals-options-headers {
                                font-family: $header-font-family;
                                font-weight: $header-font-weight;
                            }

                            .meals-options-headers h3 {
                                font-size: $header-font-size;
                                font-weight: $header-font-weight;
                            }

                            .meals-options-headers h4 {
                                font-size: $subheader-font-size;
                                font-weight: $header-font-weight;
                                color: $blue-accent-color;

                            }

                            // meals options radio select
                            .meals-options-select {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;

                                .radio-btn {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }

                        // meals options bottom container
                        .meals-options-bottom-text {
                            margin-top: 16px;
                        } 


                    }
                }
            }
        }

        // meals bottom container 
        .meals-bottom-container {
            margin: 35px 0 50px 0;

            @include space-around-centre-row-flex ($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);
        }
    }

    // slide 5 - booking details
    #slide-5 {
        background-image: url("../imgs/wanaka-bg-1.webp");
        background-position: center;
        background-size: cover;

        // booking details main container
        .booking-details-main-container {
            min-width: 100%;
            max-height: 80vh;

            @include space-around-centre-row-flex ($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

            // booking details side containers
            .booking-details-left-container, .booking-details-right-container {
                width: 50%;
                height: auto;
                padding: $element-padding;
            }

            // booking details swiper & map
            .booking-details-left-container {
                @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, $justify-content-space-around);

                // swiper
                .swiper {
                    max-width: 500px;
                    max-height: 16.875em;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                    .swiper-slide {
                        background-color: cadetblue;
                        @include space-around-centre-row-flex($display-flex, $flex-dir-column, center, center);
                    }

                    // swiper slide image
                    .swiper-slide img {
                        max-width: 100%;
                        max-height: 100%;

                        object-fit: cover;
                        object-position: center;
                    }

                    // swiper pagination container
                    .swiper-pagination {
                        background-color: rgba(231, 236, 237, 0.7);
                        margin: 0 223px;
                        max-width: 55px;
                        padding: 5px 8px;
                        border-radius: 20px;

                        @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

                        .swiper-pagination-bullet {
                            background-color: $green-accent-color;
                        }
                    }
                }

                // map
                #map {
                    width: 500px;
                    height: 220px;
                    border-radius: $element-border-radius;
                    margin: 30px 0 40px 0;
                }
            }

            .booking-details-right-container {

                // booking details info main container
                .booking-info-main-container {
                    max-width: 87%;
                    padding: $element-padding;
                    @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

                    // green header
                    .green-header {
                        font-size: 52px;
                        font-family: $header-font-family;
                        font-weight: $header-font-weight;
                        margin-bottom: 20px;
                    }

                    // blue subheader
                    .blue-booking-header {
                        font-size: 32px;
                        font-family: $header-font-family;
                        font-weight: $header-font-weight;
                        color: $blue-accent-color;
                        margin-bottom: 12px;
                    }

                    // booking details body text container 
                    .booking-info-body-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 30px;

                        // black booking body text
                        .black-body-text-large {
                            font-weight: $body-font-weight;
                            font-size: $subheader-font-size;
                        }

                    }


                }
            }
        }
    }

    // slide 6
    #slide-6 {
        background-color: rgb(165, 69, 132);
    }

    // button states

    // accommodation page scrollbar
    ::-webkit-scrollbar {
        display: none;
    }
}