// import google fonts
// manrope - sans serif header font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
// archivo - sans serif body font
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

// import variables & mixins
@import "./variables";

// global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// global body styling
body {
    background-color: aliceblue;
    font-family: "Archivo", sans-serif;

    button {
        border: none;
    }

    // form submit button
    .form-submit-btn {
        @include green-submit-btn-styling($green-accent-color, $main-white-color, $subheader-font-size, $header-font-family, $header-font-weight, $submit-btn-padding, $button-border-radius);
    }

    // small black button
    .small-black-btn {
        margin: 0 5px;
        @include small-black-btn-styling($main-blue-black-color, $main-white-color, $subheader-font-size, $header-font-family, $body-font-weight, 8px 22px, $button-border-radius);
    }

    // green header
    .green-header {
        color: $green-accent-color
    }

    // black label
    .black-label {
        font-size: $subheader-font-size;
        font-family: "Manrope", sans-serif;
        font-weight: $header-font-weight;
    }

    // blue select/input field
    .input-field-blue-styling {
        @include form-field-styling($grey-accent-color, $subheader-font-size, $body-font-family, $body-font-weight, $blue-accent-color, $element-border-radius, $form-field-padding, $form-text-indent);
    }

    select,
    input {
        width: 100%;
        border: none;
    }
}

// swiper
.swiper {
    max-width: 100%;
    max-height: 280px;
}

// mapbox
#map {
    height: 400px;
    width: 100%;
}

// navbar
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: $main-blue-black-color;
    z-index: 20;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    // navbar container
    .navbar-container {
        width: 98%;
        height: 100%;
        display: $display-flex;
        flex-direction: $flex-dir-row;
        align-items: $align-items-center;
        justify-content: space-evenly;

        // navbar links styling
        .navbar-links {
            color: $main-white-color;
            text-decoration: none;
            font-size: 1.375em;
            font-family: "Manrope", sans-serif;
        }

        #navbar-logo {
            font-size: 2.125em;
            font-weight: 800;
        }

        // navbar links container
        .navbar-links-container {
            width: 55%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        // navbar icons container
        .navbar-icons-container {
            width: 8%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .navbar-icons {
                color: #FFFCFF;
                font-size: 2.188em;
            }
        }
    }
}


// fullpage styling 
.section {
    display: $display-flex;
    flex-direction: $flex-dir-column;
    align-items: $align-items-center;
    justify-content: center;


    // global slide styling
    .slide {
        display: $display-flex;
        flex-direction: $flex-dir-column;
        justify-content: center;
        min-width: 100vw;
        max-height: calc(100vh - 90px);
        padding: 0 80px;

        position: relative;
        top: 90px;
    }

    // // slide 1 - home page
    #slide-1 {
        background-image: url("../imgs/wanaka-bg-1.webp");
        background-position: center;
        background-size: cover;

        // welcome panel
        .welcome-panel {
            max-width: 35%;
            padding: $element-padding;

            @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

            // welcome text container
            .welcome-text-container {
                height: 70%;
                margin-top: 20px;
                margin-bottom: 20px;

                @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, $justify-content-space-around);

                // welcome header
                #welcome-header {
                    font-size: 5.938em;
                    text-align: center;
                }

                // welcome body text
                #welcome-body-text {
                    width: 90%;
                    text-align: center;
                    font-size: $subheader-font-size;
                    margin-top: 20px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    // slide 2 - find accommodations page
    #slide-2 {
        background-image: url("../imgs/wanaka-bg-2.webp");
        background-position: center;
        background-size: cover;

        // accommodation form container
        .accommodation-form {
            max-width: 38%;
            min-height: 60vh;
            padding: $element-padding;

            @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

            @include space-around-centre-column-flex($display-flex, $flex-dir-column, $align-items-center, space-between);

            // form header
            #form-header {
                font-size: 2.625em;
            }

            // form fields container
            .form-fields-container {
                width: 90%;
                display: $display-flex;
                flex-direction: $flex-dir-row;
                align-items: flex-start;
                justify-content: space-between;

                // form field & label container
                .form-small-field-container {
                    width: 47%;
                    display: $display-flex;
                    flex-direction: $flex-dir-column;
                    justify-content: space-between;
                }
            }
        }
    }

    // slide 3 - accommodations results page
    #slide-3 {
        background-image: url("../imgs/wanaka-bg-2.webp");
        background-position: center;
        background-size: cover;

        // accommodation main header & filter/sort container
        .accommodation-top-container {
            max-width: 100%;
            height: auto;
            margin: 40px 0;
            // background-color: rgb(237, 235, 232);

            #accommodation-header {
                font-size: 5.375em;
                text-align: center;
                margin-bottom: 20px;
            }

            .accommodation-filter-sort-container {
                max-width: 100%;
                height: auto;
                padding: $element-padding;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);


                .accommodation-filter-container,
                .accommodation-sort-btns-container {
                    min-width: 50%;
                    @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, space-between);

                    .accommodation-filter-field-container {
                        width: 30%;
                    }
                }
            }
        }

        // accommodations results grid
        .accommodation-results {
            height: auto;
            max-width: 100%;
            padding: 30px 0;
            // background-color: cornflowerblue;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 30px;

            // accommodations results card
            .accommodation-card {
                display: flex;
                flex-direction: column;
                min-height: auto;

                @include glassmorphism-white($glass-white-bg, $glass-white-box-shadow, $glass-white-backdrop-filter, $element-border-radius);

                // swiper gallery
                .swiper {
                    max-width: 448px;
                    max-height: 16.875em;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;

                   .swiper-slide {
                    @include space-around-centre-row-flex($display-flex, $flex-dir-column, center, center);
                   }

                    // swiper slide image
                    .swiper-slide img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        object-position: center;
                    }

                    // swiper pagination container
                    .swiper-pagination {
                        background-color: rgba(231, 236, 237, 0.7);
                        margin: 0 197px;
                        max-width: 55px;
                        padding: 5px 8px;
                        border-radius: 20px;

                        @include space-around-centre-row-flex($display-flex, $flex-dir-row, $align-items-center, $justify-content-space-around);

                        .swiper-pagination-bullet {
                            background-color: $green-accent-color;
                        }
                    }
                }

                // accommodations details container
                .accommodation-details {
                    padding: $element-padding;

                    // acccommodation details top & bottom row
                    .accomm-details-top-container, .accomm-details-bottom-container {
                        display: $display-flex;
                        flex-direction: $flex-dir-row;
                    }

                    .accomm-details-top-container {
                        display: $display-flex;
                        justify-content: space-between;

                        .accomm-details-header-container h3{
                            font-size: $header-font-size;
                        }

                        .accomm-details-header-container h4{
                            font-size: $subheader-font-size;
                        }

                        .accomm-details-ratings {
                            display: $display-flex;
                            justify-content: center;
                            align-items: flex-start;
                            color: $gold-accent-color;

                            .accomm-ratings {
                                font-size: 28px;
                                margin-right: 5px;
                            }

                            .fa-award {
                                font-size: $header-font-size;
                            }
                        }
                    }

                    .accomm-details-bottom-container {
                        margin-top: 35px;
                        justify-content: space-between;
                    }
                }



            }
        }

        // accommodation card modal
        #accommodationModal {
            z-index: 30;
            position: fixed;
            display: none;
            top: 20px;
            left: 500px;

            display: flex;
            flex-direction: column;
            min-width: 500px;
            height: auto;
            background-color: aliceblue;
        }

        // test modal
        #test-modal {
            z-index: 100;
            position: fixed;
            display: block;
            top: 0;
            left: 0;

            min-height: 400px;
            min-width: 400px;
            background-color: #cc3535;
        }
    }

    // slide 4
    #slide-4 {
        background-color: rgb(157, 53, 53);
    }

    // slide 5
    #slide-5 {
        background-color: rgb(227, 162, 78);
    }

    // slide 6
    #slide-6 {
        background-color: rgb(165, 69, 132);
    }

    // button states

    // accommodation page scrollbar
    ::-webkit-scrollbar{
        display: none;
    }
}